@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iciel Kermel';
    src: url('fonts/icielkermel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiolexGirl';
    src: url('fonts/Fiolex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Curtain.js - Example page */

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Clearfix */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {clear:both;}
.cf { zoom:1;}

/* Base Style */
body {
    font: 16px/1.2 "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #555;
}

a{color:#AAA}
a:hover{color:#CCC}
img{max-width:100%}
h1{font-size:30px;margin-bottom:16px;color:#111;}
h2{font-size:26px;margin-bottom:12px;color:#111;padding-top:8px;}
p{margin-bottom:12px}
pre,code{color:#666;font-family:"Andale Mono", AndaleMono, monospace;font-size:12px}
h3{font-size:20px;margin-bottom:12px;color:#111;padding-top:8px;}
em{font-style:italic}
pre {
    display: block;
    margin-bottom: 12px;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Sliding panels */
.curtains>li {
    box-shadow: 0 1px 14px 3px #333;
}

.curtains>li:nth-child(2n+1) {
    background: white;
}

.fixed {
    position: fixed;
    top: 150px;
    left: 40px;
    width: 200px;
}
.cover-wrapper img{
    position:absolute;
    top:0;
    left:0; 
    /* Preserve aspet ratio */
    min-width:100%;
    min-height:100%;
    max-width:none;
}

    .cover-wrapper span{
        position:absolute;
        top:50%;left:0;right:0;
        height:20px;line-height:20px;
        text-align:center;
        font-size:20px;
        margin-top:-10px;
        color:#FFF;
        text-shadow:0 1px 1px black;
    }
	
.content-wrapper {
  padding: 50px 100px 100px 300px;
}
	
.end-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    text-align: center;
}
#lovetime{
	background:#FFFFCC;
}



/* right menu */
.menu {
    z-index: 2;
    position: fixed;
    bottom:0;
    text-align: right;
    left: 0;
}

.menu button {
    display: block;
    height: 40px;
    width: 100px;
    line-height: 40px;
    background-color: #383838;
    position: relative;
    text-align: center;
    color: #e6e6e6;
    text-decoration: none;
    border:0;
    cursor:pointer;
}

.menu a:hover {
    color: #FFF;
}

.menu a:active {
    background-color: #333;
}

/* Curtain-links-menu */
.curtain-links-menu{
    display:none;
    position:fixed;
    z-index:2;
    right:0px;
    top:0px;
    background-color: #383838;
    padding:10px;
}

.curtain-links-menu a{
    color:#e6e6e6;
    font-size:12px;
    text-decoration:none;
}
.curtain-links-menu a:hover{
    text-decoration:underline;
}

/* Specific */
#loveletter{
    background:#FFF;     
    color:black;
    /**text-shadow:0 1px 0 black;*/
}

    #loveletter .fixed {
        position: fixed;
        top: 150px;
        left: 40px;
        width: 200px;
        z-index:20;
    }
	#loveletter .fixed  p{
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		text-indent: 0;
	}
	#loveletter h1{
		font-family:'Lobster Two',"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	}
	
	#loveletter p{
		font-size: 16px;
		line-height: 2em;
		font-family: "微软雅黑";
		text-indent: 2em;
	}
	#loveletter .width50{
		float: left;
		width: 50%;
		padding: 0 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

#lovebg{
    color:white;
    text-shadow:0 1px 0 black;
}

/* Download button (from twitter bootstrap) */
a.btn{
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    background-color: #383838;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #555 0%, #383838 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#383838));
    background-image: -webkit-linear-gradient(top, #555 0%,#383838 100%);
    background-image: -ms-linear-gradient(top, #555 0%,#383838 100%);
    background-image: -o-linear-gradient(top, #555 0%,#383838 100%);
    background-image: linear-gradient(top, #555 0%,#383838 100%);
    border: 1px solid #292929;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 2px rgba(0, 0, 0, .4);
    font-size: 18px;
    padding: 8px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
a.btn span{opacity:.6;}
a.btn:hover{
    background-image: -moz-linear-gradient(top, #404040 0%, #383838 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#383838));
    background-image: -webkit-linear-gradient(top, #404040 0%,#383838 100%);
    background-image: -ms-linear-gradient(top, #404040 0%,#383838 100%);
    background-image: -o-linear-gradient(top, #404040 0%,#383838 100%);
    background-image: linear-gradient(top, #404040 0%,#383838 100%);
}
a.btn:active{
    background-image: -moz-linear-gradient(top, #222 0%, #383838 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#383838));
    background-image: -webkit-linear-gradient(top, #222 0%,#383838 100%);
    background-image: -ms-linear-gradient(top, #222 0%,#383838 100%);
    background-image: -o-linear-gradient(top, #222 0%,#383838 100%);
    background-image: linear-gradient(top, #222 0%,#383838 100%);
}

a.btn.btn-small{
    font-size:14px;
    padding:5px 11px;
}

/** WaY 2 Love */
.way #story {
	position: absolute;
	width: 100%;
	top: 0px;
}
.way #story h1 {
	font-weight: normal;
	text-shadow: 0 1px rgba(0,0,0,.8);
	margin: 0;
	padding: 0;
	color: white;
	text-weight: bold;
	font-family: "方正姚体","华文琥珀","微软雅黑";
}
.way #story h2 {
	font-size: 1.2em;
	font-weight: normal;
	font-style: italic;
	color: #EA921B;
	text-shadow: 1px 1px rgba(0,0,0,.8);
	clear: both;
}
blockquote {
	font-size: 1.2em;
	font-style: italic;
	font-family: georgia;
	text-align: justify;
}
	blockquote a {
		color: white;
	}
	blockquote a:hover {
		color: #EA921B;
	}
	blockquote.small {
		font-size: 1em;
	}
		
	blockquote.smaller {
		font-size: 0.95em;
	}

	blockquote.big {
		font-size: 1.7em;
		line-height: 1.5em;
	}
	blockquote p {
		margin-bottom: 0.5em;
	}
	blockquote ul {
		list-style-type: none;
	}

	
/*****/

@media only screen and (min-device-width : 768px) {

	blockquote {
		line-height: 25px;
		margin-top: 1em;
		color: #ccc;
		background: black;
		padding: 20px;
		opacity: 0.8;
		-moz-opacity: 0.7;
		filter:alpha(opacity=7);
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
	}

    blockquote:before {
        content: "\201C";
        font-style: normal;
        font-size: 135px;
        color: #EA921B;
        width: 55px;
        position: relative;
        float: left;
        margin-left: -55px;
        margin-top: 10px;
        text-shadow: 1px 1px 3px black;
    }
    blockquote:after {
        content: "\201D";
        font-style: normal;
        font-size: 135px;
        color: #EA921B;
        width: 55px;
        position: relative;
        float: right;
        margin-right: -50px;
        margin-top: 43px;
        text-shadow: 1px 1px 3px black;
    }

	/* Content columns */

	.way .col0 {
		margin-left: 0%;
	}
	.way .col1 {
		margin-left: 10%;
	}
	.way .col2 {
		margin-left: 20%;
	}
	.way .col3 {
		margin-left: 30%;
	}
	.way .col4 {
		margin-left: 40%;
	}
	.way .col5 {
		margin-left: 50%;
	}
	.way .col6 {
		margin-left: 60%;
	}
	.way .col7 {
		margin-left: 70%;
	}
	.way .col8 {
		margin-left: 80%;
	}
	.way .col9 {
		margin-left: 90%;
	}

	/* Content rows */
	.way .row0 {
		margin-top: 0px;
	}
	.way .row1 {
		margin-top: 50px;
	}
	.way .row2 {
		margin-top: 150px;
	}
	.way .row3 {
		margin-top: 250px;
	}
	.way .row4 {
		margin-top: 350px;
	}
	.way .row5 {
		margin-top: 450px;
	}
	.way .row6 {
		margin-top: 550px;
	}
	.way .row7 {
		margin-top: 650px;
	}
	.way .row8 {
		margin-top: 750px;
	}
	.way .row9 {
		margin-top: 850px;
	}

	/* Blockquote widths */

	blockquote.width2 {
		width: 20%;
	}
	blockquote.width3 {
		width: 30%;
	}
	blockquote.width4 {
		width: 40%;
	}
	blockquote.width5 {
		width: 50%;
	}
	blockquote.width6 {
		width: 60%;
	}
	blockquote.width7 {
		width: 70%;
	}
	blockquote.width8 {
		width: 30%;
		float: right;
		margin-right: 200px;
	}
	blockquote.width9 {
		width: 30%;
		float: left;
		margin-left: 200px;
	}


	/* Blockquote font size */
	.way #story h1.size1 {
		font-size: 1em;
	}
	.way #story h1.size2 {
		font-size: 2em;
	}
	.way #story h1.size3 {
		font-size: 3em;
	}
	.way #story h1.size4 {
		font-size: 4em;
	}
	.way #story h1.size5 {
		font-size: 5em;
	}
	.way #story h1.size6 {
		font-size: 6em;
	}


}
/* portrait orientation on iPad and smaller, scale with device width */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
/*@media only screen and (max-device-width : 768px) { */

	body {
		background-color: white;
	}

	.way img.first {
		max-width: 100%;
	}


	ul#menu li {
		list-style-type: none;
		margin: 0;
		margin-right: 1.2em;
		display: block;
	}
	.way #story {
		position: relative;
		width: 85%;
		background-color: white;
		padding: 0 !important;
		margin: 0 !important;
		margin-left: 1em !important;
		margin-right: 3em !important;
		margin-top: -2em !important;
		padding-left: 1em !important;
	}
	.way #story h1 {
		font-weight: normal;
		font-size: 1.4em !important;
		color: black;
		text-shadow: none;
		width: 95%;
		margin: 0.5em 0 0.2em 0;
	}
	.way #story h2 {
		font-size: 1.1em;
		font-weight: normal;
		font-style: italic;
		color: #EA921B;
		text-shadow: none;
		clear: both;
		width: 95%;
		margin: 0.5em 0 0.2em 0;
	}
	blockquote {
		font-size: 1em;
		color: #444;
		font-size: 1.1em;
		width: 95%;
		margin: 0.5em 0 0.2em 0;
	}
	blockquote a {
		color: black;
	}

}

/* CONTENT */

.way {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.way img.first {
	width: 100%;
	height: auto;
}

.way #story {
	position: absolute;
	width: 100%;
	top: 0px;
}
.way #story h1 {
	font-weight: normal;
	text-shadow: 0 1px rgba(0,0,0,.8);
	margin: 0;
	padding: 0;
}
.way #story h2 {
	font-size: 1.2em;
	font-weight: normal;
	font-style: italic;
	color: #EA921B;
	text-shadow: 1px 1px rgba(0,0,0,.8);
	clear: both;
}
blockquote {
	font-size: 1.2em;
	font-style: italic;
	font-family: georgia;
	text-align: justify;
}
	blockquote a {
		color: white;
	}
	blockquote a:hover {
		color: #EA921B;
	}
	blockquote.small {
		font-size: 1em;
	}
		
	blockquote.smaller {
		font-size: 0.95em;
	}

	blockquote.big {
		font-size: 1.7em;
		line-height: 1.5em;
	}
	blockquote p {
		margin-bottom: 0.5em;
	}
	blockquote ul {
		list-style-type: none;
	}

@media only screen and (min-device-width : 768px) {

	blockquote {
		line-height: 25px;
		margin-top: 1em;
		color: #ccc;
		background: black;
		padding: 20px;
		opacity: 0.8;
		-moz-opacity: 0.7;
		filter:alpha(opacity=7);
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
	}

    blockquote:before {
        content: "\201C";
        font-style: normal;
        font-size: 135px;
        color: #EA921B;
        width: 55px;
        position: relative;
        float: left;
        margin-left: -55px;
        margin-top: 10px;
        text-shadow: 1px 1px 3px black;
    }
    blockquote:after {
        content: "\201D";
        font-style: normal;
        font-size: 135px;
        color: #EA921B;
        width: 55px;
        position: relative;
        float: right;
        margin-right: -50px;
        margin-top: 43px;
        text-shadow: 1px 1px 3px black;
    }
}

#smiles{

	background-color:#f2eada;
}

.title{
	font-weight: normal;
	text-shadow: 0 1px rgba(0,0,0,.8);
	margin: 20px 0 20px 0;
	padding: 10px;
	color: #555;
	text-weight: bold;
	font-family: "方正姚体","华文琥珀","微软雅黑";
	text-align:center;
}

.upper{
	text-transform: uppercase;
}

#elapseClock{
	font-family: 'Iciel Kermel';
}

.font{
	font-family: 'FiolexGirl';
}

.large-info{
	font-size: 100px;
	color: #471a1a;
}

.large-info-1{
	font-size: 80px;
	color: #ff9494;
	font-family: 'Lobster Two';
}
/*asdasdasdasd*/
/* vietnamese */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url(https://fonts.gstatic.com/s/alegreyasans/v4/11EDm-lum6tskJMBbdy9ac9SaW3tdaDfN7YJZ539VCk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url(https://fonts.gstatic.com/s/alegreyasans/v4/11EDm-lum6tskJMBbdy9abP5YdNLbv2Ph7c-yN9iHnU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url(https://fonts.gstatic.com/s/alegreyasans/v4/11EDm-lum6tskJMBbdy9aeNC-0xib1SK7Oln1iLdt4o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(https://fonts.gstatic.com/s/alegreyasans/v4/KYNzioYhDai7mTMnx_gDgt01sE-sBCcxeIPQ5nVmD-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(https://fonts.gstatic.com/s/alegreyasans/v4/KYNzioYhDai7mTMnx_gDguo_hGDVFZ4kKx4ST9hVovI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(https://fonts.gstatic.com/s/alegreyasans/v4/KYNzioYhDai7mTMnx_gDgsmBRJoLbs7X6hY7yFEc97Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(https://fonts.gstatic.com/s/alegreyasans/v4/11EDm-lum6tskJMBbdy9aeM-raSl8_Jbtdwpx2yaBdM.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(https://fonts.gstatic.com/s/alegreyasans/v4/11EDm-lum6tskJMBbdy9aZa6PouP1CiMI7xm5Dvn5ZQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(https://fonts.gstatic.com/s/alegreyasans/v4/11EDm-lum6tskJMBbdy9acrysgx4XYXiGyd0rEkyLBs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big { display: inline-block; }

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: black;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
	color: white;	
}

.scroll-icon {
	position: absolute;
 	left: 50%;
  bottom: 30px;
  padding: 0 10px;
  	-webkit-transform: translateX(-50%);
  	    -ms-transform: translateX(-50%);
  	        transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	    -ms-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	text-transform: uppercase;
}

html {
	font-size: 62.5%;
}

body {
	color: black;
	letter-spacing: .18em;
}

a {
	text-decoration: none;
	color: white;
}

ul, li {
	list-style-type: none;
}



/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
	background: rgba(0, 47, 77, .3);
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}

h1 {
	line-height: 70px;
	height: 70px;
}

h1 a {
	display: block;
	padding: 0 10px;
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}

.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

nav {
 	height: 0;
	opacity: 0;
  box-sizing: border-box;
	background: rgba(0, 47, 77, .25);
	position: fixed;
	top: 70px;
	width: 100%;
  -webkit-transition: all 3s;
          transition: all 3s;
}

.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px);
}

nav ul {
	padding: 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

nav li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav li a {
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
	background: #962D3E;
}

nav li:nth-child(even) a {
	background: #aa3346;
}

nav li:nth-child(odd) a:hover {
	background: #9e2f41;
}

nav li:nth-child(even) a:hover {
	background: #c53c52;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
  background: #453659;
}
  


/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section { 
	text-align: center;
  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}

h2 {
	text-transform: lowercase;
	font-size: 4em;
	margin-bottom: 20px;
}

h3 {
	font-weight: 300;
	font-size: 2.8em;
}



/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
}

.vertical-scrolling:nth-child(2){
	background-color: rgb(255, 161, 161) !important;
}

.vertical-scrolling:nth-child(3){
	background-color: rgb(220, 235, 255) !important;
}

.vertical-scrolling:nth-child(4){
	background-image: url(../images/img1.jpg) !important;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
.vertical-scrolling:nth-child(5){
	background-image: url(../images/img2.jpg) !important;
	background-repeat: no-repeat;
	background-position: center;
    background-size: 100%;
}
.vertical-scrolling:nth-child(6){
	background-image: url(../images/img3.jpg) !important;
	background-repeat: no-repeat;
	background-position: center;
    background-size: 100%;
}
.vertical-scrolling:nth-child(8){
	background-color: #CC9999 !important;
}
/*.vertical-scrolling:nth-child(7){
	background-image: url(../images/img2.jpg) !important;
	background-repeat: no-repeat;
	background-position: center;
    background-size: 100%;
}*/
hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: #471a1a;
    border-width: 5px 3px 0 3px;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -61px;
    border-style: solid;
    border-color: #471a1a;
    border-width: 0 3px 5px 3px;
    border-radius: 20px;
}

hr.style-seven:after {
    content: 'LOVE <3';
    font-style: italic;
    font-weight: bold;
    color: #810505;
}

.small-des{
    font-size: 12px;
}
.small-des-right{
	float: right;
    margin-right: 300px;
}
.small-des-left{
	float: left;
    margin-left: 300px;
}

.first-day{
	float: left;
	margin-left: 10%;
	font-size: 70px;
	font-family: 'Lobster Two';
	top: 0;
	margin-top: -100px;
}

.break-day{
	float: left;
	margin-left: 10%;
	font-size: 50px;
	font-family: 'Lobster Two';
	top: 0;
	margin-top: -100px;
}

.memory-day{
	float: right;
	margin-right: 10%;
	color: #bafff7;
	font-size: 50px;
	font-family: 'Lobster Two';
	top: 0;
	margin-top: -100px;
}

.love-letter{
	font-family: 'Lobster Two',"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}